{% load static thumbnail %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}{% if product_images_after_filter.0.product.category.category_seo_title %}{{ product_images_after_filter.0.product.category.category_seo_title }}{% else %}{{ product_images_after_filter.0.product.category.name }}{% endif %}{% endblock title %}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="{% if product_images_after_filter.0.product.category.category_seo_meta_description %}{{ product_images_after_filter.0.product.category.category_seo_meta_description }}{% endif %}">
		<meta name="keywords" content="{% if product_images_after_filter.0.product.category.category_seo_meta_keywords %}{{ product_images_after_filter.0.product.category.category_seo_meta_keywords }}{% endif %}">

        <link rel="icon" href="{% static 'icons/favicon.ico' %}" type= "image/x-icon">
        <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{% static 'icons/touch-icon.png' %}">
        <!--bootstrap-->
        {% comment %}<link href="{% static 'bootstrap3/fonts/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />{% endcomment %}
        <link href="{% static 'bootstrap3/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

        <!--font awesome-->
        <link href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

        <!--custom-->
        <link href="{% static 'custom/custom.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'custom/style_goods.css' %}" rel="stylesheet" type="text/css">

        <!--jQuery-->
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.js "></script>
		<script type="text/javascript" src="{% static 'bootstrap3/js/bootstrap.min.js'%}"></script>

    </head>
	<body>
		<header><!--Шапка сайта-->
			<div class="container">
				<div class="row header-top">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="logo">
                            <a href="/">
                                <img class="filer_image " alt="logo.png" src="/media/filer_public_thumbnails/filer_public/3e/2a/3e2a8eb9-73d2-48e1-9033-dbeffcd29a02/logo.png__184x150_q85_crop_subsampling-2_upscale.png">
                            </a>
                        </div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
						<h3>Заказать букет<br>+7 (980) 526 50 56</h3>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 right-col">
						<div class="connection-button-wrapper"><a href="/kontakty/" class="btn btn-default btn-md" role="button" target="_self">Связаться с нами</a></div>
						<div class="social-links">
							<ul class="list-inline">
								<li><a href="https://vk.com/bant31" class="filer_image_link"><img class="filer_image " alt="icon-vk.png" src="/media/filer_public_thumbnails/filer_public/51/af/51afe75c-5c22-4661-ad98-5c5462fa7095/icon-vk.png__49x48_q85_crop_subsampling-2_upscale.png"></a></li>
								<li><a href="http://instagram.com/cvety_belgorod31" class="filer_image_link"><img class="filer_image " alt="icon-inst.png" src="/media/filer_public_thumbnails/filer_public/34/6a/346a62c1-6963-4581-95a5-367a28c2dbc9/icon-inst.png__48x50_q85_crop_subsampling-2_upscale.png"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div role="navigation" class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class=""><a href="/">Главная</a></li>
                            <li class=""><a href="/o-nas/">О нас</a></li>
							<li class=""><a href="/akcii-i-skidki/">Акции и скидки</a></li>
							<li class=""><a href="/kontakty/">Контакты</a></li>
							<li class="active dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Каталог<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="">
										 <a href="/goods/goods_flowers/" class="{% if product_images_after_filter.0.product.category.id == '1' %}link_active{% endif %}">Цветы</a>
									</li>
									<li class="">
										 <a href="/goods/goods_bolls/">Шары</a>
									</li>
									<li class="">
										 <a href="/goods/goods_baskets/">Корзины</a>
									</li>
									<li class="">
										 <a href="/goods/goods_boxes/">Коробки</a>
									</li>
									<li class="">
										 <a href="/goods/goods_additional/">Доп. товары</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div><!--Меню-->
		</header><!--/header-->


		<div class="wrapper-goods page">
			{% block header %}
				<div class="container page-title">
					<h1>{% if product_images_after_filter.0.product.category.category_h1 %}{{ product_images_after_filter.0.product.category.category_h1 }}{% else %}{{ product_images_after_filter.0.product.category.name }}{% endif %}</h1>
				</div>
			{% endblock header%}

			{% block content %}
			<div class="container page">
				<div class="row">
					{% for product_images_after_filter_item in product_images_after_filter %}
						<div class="col-md-3">
							<div class="item-product">
								<div class="tank-img">
									<a href="{% url 'product' product_images_after_filter_item.product.id %}">
										<img src="{% thumbnail product_images_after_filter_item.image 250x250 %}" class="img-responsive">
									</a>
								</div>

								<div class="tank-quantity" style="margin-top: 15px">
									{% if product_images_after_filter_item.product.quantity %}
										<p style="font-size: 1.5rem">Количество: {{ product_images_after_filter_item.product.quantity }}шт.</p>
									{% endif %}
								</div>

								<div class="tank-caption">
									<h4>{{ product_images_after_filter_item.product.name }}</h4>
									<p>{{ product_images_after_filter_item.product.short_description|truncatechars:80 }}</p>
								</div>

								<div class="tank-price">
									{% if product_images_after_filter_item.product.discount %}
										<p class="old-price">{{ product_images_after_filter_item.product.price }} руб.</p>
										<p class="new-price">{{ product_images_after_filter_item.product.discount }} руб.</p>
									{% else %}
										{% if product_images_after_filter_item.product.price %}
											<p class="normal-price">{{ product_images_after_filter_item.product.price }} руб.</p>
									    {% else %}
											<p class="normal-price">Уточняйте цены по телефону</p>
										{% endif %}
									{% endif %}
								</div>
								<div class="height-class">
									<div class="tank-button">
										<div class="btn-wrapper">
											<a class="btn double-button" href="{% url 'product' product_images_after_filter_item.product.id %}">
												Заказать
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			{% endblock content %}
		</div><!--/base content-->


		<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
						<h3>+7 (980) 526 50 56</h3>
						<p><a href="mailto:Info@bant.ru">Info@bant.ru</a></p>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 footer-links list-unstyled">
						<ul>
							<li><a href="/goods/goods_flowers/">Цветы</a></li>
							<li><a href="/goods/goods_baskets/">Корзины</a></li>
							<li><a href="/goods/goods_boxes/">Коробки</a></li>
							<li><a href="/goods/goods_bolls/">Шары</a></li>
							<li><a href="/goods/goods_additional/">Дополнительные товары</a></li>
						</ul>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 social-links">
						<h3>Мы в соц. сетях:</h3>
						<ul class="list-inline">
							<li><a href="https://vk.com/bant31" class="filer_image_link"><img class="filer_image " alt="icon-vk.png" src="/media/filer_public_thumbnails/filer_public/51/af/51afe75c-5c22-4661-ad98-5c5462fa7095/icon-vk.png__49x48_q85_crop_subsampling-2_upscale.png"></a></li>
							<li><a href="http://instagram.com/cvety_belgorod31" class="filer_image_link"><img class="filer_image " alt="icon-inst.png" src="/media/filer_public_thumbnails/filer_public/34/6a/346a62c1-6963-4581-95a5-367a28c2dbc9/icon-inst.png__48x50_q85_crop_subsampling-2_upscale.png"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer><!--/footer-->
	</body>
</html>
