
    <div class="page">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="sidebar">
                        <form action="/contacts/" method="post">{% csrf_token %}
                            {{ form.non_field_errors }}
                            <div>
                              <label for="id_subject">Тема:</label>
                              {{ form.subject.errors }}
                              {{ form.subject }}
                            </div>
                            <div>
                              <label for="id_sender">E-mail:</label>
                              {{ form.sender.errors }}
                              {{ form.sender }}
                            </div>
                            <div>
                              <label for="id_message">Сообщение:</label>
                              {{ form.message.errors }}
                              {{ form.message }}
                            </div>
                            <div>
                              {{ form.copy.errors }}
                              <label for="id_copy">Отправить копию себе {{ form.copy }}</label>
                            </div>
                            <input type="submit" value="Отправить"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
