<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
                <h3>+7 (980) 526 50 56</h3>
                <p><a href="mailto:Info@bant.ru">Info@bant.ru</a></p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 footer-links list-unstyled">
                <ul>
                    <li><a href="#">Цветы</a></li>
                    <li><a href="#">Корзины</a></li>
                    <li><a href="#">Коробки</a></li>
                    <li><a href="#">Шары</a></li>
                    <li><a href="#">Дополнительные товары</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 social-links">
                <h3><u>Мы в соц. сетях:</u></h3>
                <ul class="list-inline">
                    <li><a href="https://vk.com/bant31" class="filer_image_link"><img class="filer_image " alt="icon-vk.png" src="/media/filer_public_thumbnails/filer_public/51/af/51afe75c-5c22-4661-ad98-5c5462fa7095/icon-vk.png__49x48_q85_crop_subsampling-2_upscale.png"></a></li>
                    <li><a href="http://instagram.com/cvety_belgorod31" class="filer_image_link"><img class="filer_image " alt="icon-inst.png" src="/media/filer_public_thumbnails/filer_public/34/6a/346a62c1-6963-4581-95a5-367a28c2dbc9/icon-inst.png__48x50_q85_crop_subsampling-2_upscale.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--footer-->