<header><!--Шапка сайта-->
    <div class="container">
        <div class="row header-top">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="logo"><img class="filer_image " alt="logo.png" src="/media/filer_public_thumbnails/filer_public/3e/2a/3e2a8eb9-73d2-48e1-9033-dbeffcd29a02/logo.png__184x150_q85_crop_subsampling-2_upscale.png"></div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
                <h3>Заказать букет<br>+7 (980) 526 50 56</h3>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 right-col">
                <div class="connection-button-wrapper"><a href="////ru/kontakty/#contacts" class="btn btn-default btn-md" role="button" target="_self">Связаться с нами</a></div>
                <div class="social-links">
                    <ul class="list-inline">
                        <li><a href="https://vk.com/bant31" class="filer_image_link"><img class="filer_image " alt="icon-vk.png" src="/media/filer_public_thumbnails/filer_public/51/af/51afe75c-5c22-4661-ad98-5c5462fa7095/icon-vk.png__49x48_q85_crop_subsampling-2_upscale.png"></a></li>
                        <li><a href="http://instagram.com/cvety_belgorod31" class="filer_image_link"><img class="filer_image " alt="icon-inst.png" src="/media/filer_public_thumbnails/filer_public/34/6a/346a62c1-6963-4581-95a5-367a28c2dbc9/icon-inst.png__48x50_q85_crop_subsampling-2_upscale.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div role="navigation" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/ru/">Главная</a></li>
                    <li class=" active"><a href="/ru/akcii-i-skidki/">Акции и скидки</a></li>
                    <li class=""><a href="/ru/kontakty/">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div><!--Меню-->
</header><!--Шапка сайта-->